
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: gainsboro;
}

li{
  list-style: none;

}

.listCountries{
  width: 600px;
  height: 600px;
  background-color: ghostwhite;
  margin: auto;
  text-align: center;
  border-radius: 20px;
}